/* Container */
.container {
	margin-left: auto;
	margin-right: auto;
	height: fit-content;
	background-color: #FFFFFF;
}
.row {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.right {
	position: absolute;
	right: 15%;
 }
