.container {
  float: initial;
  display: inline-flex;
  height: 175px;
  width: 1000px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
}

.priceinput {
  display: inline-flex;
}

.secondpriceinput {
  margin-right: 50px;
}

.content {
  margin-inline-end: 150px;
}

.sscontent {
  margin: 75px;
}

.section {
  margin-left: 620px;
}

.header {
  text-align: center;
  background-color: lightblue;
  margin-top: -1px;
}

.footer {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

.heading {
  text-align: center;
  margin-bottom: -35px;
}

#dropdown-basic-button {
  width: 100px;
}

.icondiv {
  display: inline-flex;
}

.paragraphs {
  margin: 20px;
}

.edittexts {
  vertical-align: middle;
}
