.createproductcontainer {
  float: initial;
  display: inline-flex;
  height: 175px;
  width: 1000px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  flex-direction: column;
}

.createproductpriceinput {
  display: inline-flex;
}

.createproductsecondpriceinput {
  margin-right: 50px;
}

.createproductcontent {
  margin-inline-end: 150px;
}

.createproductsscontent {
  margin: 75px;
}

.createproductsection {
  margin-left: 620px;
}

.createproductproductheader {
  text-align: center;
  background-color: lightblue;
  margin-top: -1px;
}

.createproductfooter {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

.createproductheading {
  text-align: center;
  margin-bottom: -35px;
}

#dropdown-basic-button {
  width: 100px;
}

.createproducticondiv {
  display: inline-flex;
}

.createproductparagraphs {
  margin: 20px;
}

.createproductedittexts {
  vertical-align: middle;
}

.productbuttoncontainer{
  margin-left: 1vw;
}

.buttonlistcontainer{
  display: flex;
  flex-direction: row;
}

.textmorespace{
  margin-top: 4vh;
}
