<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127668734841-ltfftqubt6r1c8or6ttgh0rrlea6v2nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127668734841-ltfftqubt6r1c8or6ttgh0rrlea6v2nj</string>
	<key>API_KEY</key>
	<string>AIzaSyD4ZgDClEWVn_x3316F17b7bPMs4Ojg0Jg</string>
	<key>GCM_SENDER_ID</key>
	<string>127668734841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helpcocontact.helpbusiness</string>
	<key>PROJECT_ID</key>
	<string>help-technologies-e4e1c</string>
	<key>STORAGE_BUCKET</key>
	<string>help-technologies-e4e1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127668734841:ios:ec91e8fe7da232f8653da8</string>
	<key>DATABASE_URL</key>
	<string>https://help-technologies-e4e1c.firebaseio.com</string>
</dict>
</plist>