/* Container */
.dashboardContainer {
	display: flex;
	flex-direction: row;
}

.sidebarHolder{
	width: 20vw;
	height: 100vh;
	z-index: 0;
}
.dashboardHolder{
	height: 100vh;
	width: 70vw;
	margin-left: 1vw;
	margin-top: 3vh;
	z-index: 1;
}

.buttonContainer{
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.cardsHolder{
	display: flex;
	flex-direction: row;
}

.upcomingRequestsContainer{
	margin-left: 2vw;
}
