/* Container */
.container {
	background-color: lightgray;
	height: 100vh;
}
.title-container {
	align-items: center;
	justify-content: center;
	flex-direction: column;
	display: flex;
}
.title {
	align-self: center;
	display: flex;
}
.servicecardlistcontainer {
	width: 100vw;
}