/*This contains the styling for the service screen where the business views a specific service*/
.serviceScreen {
  display: flex;

  justify-content: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
}
.sidebarHolder {
  width: 20vw;
  height: 100vh;
  z-index: -1;
}
.dropdownheader{
 
}
.serviceScreenContainer {
  border-style: solid;
  border-radius: 3vw;
  height: 90vh;
  width: 75vw;
  border-color: #41cbef;
  margin-top: 10vh;
}
.titleSection {
  display: flex;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 1vw;
}
.arrowBackButton {
  cursor: pointer;
}
.servicetitle {
  margin-left: 25vw;
}
.editservicebutton {
    margin-left: 20vw;
}
.middleSection {
  display: flex;
}
.serviceScreenImage {
  border-radius: 3vw;
  width: 22vw;
  height: 33vh;
  margin-left: 2vw;
}
.serviceScreenDescriptionRating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  margin-top: -10vh;
  margin-left: 3vw;
  width: 22vw;
  margin-right: 8vw;
}
.serviceScreenDescriptionSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  margin-top: 5vh;
}
.serviceScreenRatingSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  margin-top: 3vh;
}
.daysOfferedSection {
  display: flex;
  flex-direction: column;
  height: 30vh;
  text-align: left;
  margin-top: -8vh;
}
.daysofferedtitle {
  margin-top: 3vh;
  margin-bottom: 2vh;
}
.bottomSection {
    display: flex;
    flex-direction: row;
    width: 75vw;
    margin-right: 2vw;
}
.vl {
    margin-right: -6vw;
    border-left: 6px solid #5cc6bc;
    margin-top: 5vh;
    height: 35vh;
}
.currentRequests {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -1vh;
}
.requestCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #41CBEF;
    border-radius: 2vw;
    padding-left: 2vw;
    padding-right: 1vw;
    margin-bottom: -3.5vh;
    width: 20vw;
    height: 10vh;
}
.largeviewallbutton{
    margin-left: 1vw;
    margin-top: 4vh;
}
.requestCardInformation {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 13vh;
  justify-content: space-evenly;
}
.confirmedrequestscards{
    margin-top: -3vh;
}
.requestHistory {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 7vw;
    margin-top: -1vh;
}
.requesthistorycards{
    margin-top: -3vh;
}

.unconfirmedrequests{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -1vh;
}
.unconfirmedrequestscards{
    margin-top: -3vh;
}
