/*This is going to contain the css for the gradient color of the HelpButton*/
.gradientDivSmall {
	border-radius: 5.12vh;
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: center;
	background: linear-gradient(90deg, #5cc6bc, #41cbef);
	border-style: solid;
	border-color: #41cbef;
	cursor: pointer;
}

.gradientDivSmall2 {
	border-radius: 2vh;
	display: flex;
	align-items: center;
	align-self: center;
	cursor: pointer;
	justify-content: center;
	background: linear-gradient(90deg, #5cc6bc, #41cbef);
	border-style: solid;
	border-color: #41cbef;
}

.gradientDiv {
	border-radius: 3vh;
	display: flex;
	align-items: center;
	align-self: center;
	cursor: pointer;
	justify-content: center;
	background: linear-gradient(90deg, #5cc6bc, #41cbef);
	border-style: solid;
	border-color: #41cbef;
}

.whiteDiv {
	border-radius: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	cursor: pointer;
	border-style: solid;
	border-color: #41cbef;
	background: #ffffff;
}
.redDiv {
	border-radius: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #df1919;
	align-self: center;
	cursor: pointer;
	outline: 0;
	border: none;
}
