/*Makes sure Footer and Header aligned correctly*/
.bodyOuter {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.bodyInner {
	flex: 1;
}

/*Landing Page Styles*/
.landingPageContainer {
	width: 100vw;
	background-color: #f3f3f3;
	display: flex;
	flex-direction: column;
}
.topMessage {
	white-space: nowrap;
	margin-top: 1vh;
	margin-bottom: 3vh;
	display: flex;
	justify-content: center;
}
.featureSectionGray {
	background-color: #dcdcdc;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.featureSectionLightGray {
	background-color: #f3f3f3;
}
.featureSectionLeft {
	display: flex;
	margin-top: 2.5vh;
	margin-bottom: 2.5vh;
	width: 30vw;
	flex-direction: column;
	align-self: flex-start;
	margin-left: 5vw;
	line-height: 2.5;
}
.featureSectionRight {
	display: flex;
	margin-top: 2.5vh;
	text-align: right;
	width: 35vw;
	margin-bottom: 2.5vh;
	flex-direction: column;
	margin-right: 2vw;
	line-height: 2.5;
}
.featureTitle {
	white-space: nowrap;
}
.startSellingToday {
	margin-bottom: 5vh;
	margin-top: 5vh;
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-left: 2vw;
}
.startSellingLeftSection {
	width: 40vw;
	display: flex;
	flex-direction: column;
}
.startSellingMessage {
	margin-top: 1vh;
	margin-bottom: 1vh;
}
.helpLogo {
	width: 60vw;
	display: flex;
	font-size: 12vw !important;
	justify-content: center;
	align-self: center;
	align-items: center;
}
.signUpButton {
	margin-top: 2vh;
	margin-bottom: 2vh;
	width: 10vw;
	align-self: center;
}
.percentageText {
	margin-top: 1vh;
	text-align: center;
}

/*Header Styles*/
.header {
	width: 100vw;
	height: 9vh;
	background-color: #00b0f0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}
.companyTitle {
	white-space: nowrap;
	margin-left: 1vw;
}
.logInSignUp {
	flex-direction: row;
	display: flex;
}
.logIn {
	margin-right: 2vw;
	white-space: nowrap;
}
.signUp {
	margin-right: 2vw;
	white-space: nowrap;
}

/*Footer Styles*/
.footer {
	width: 100vw;
	height: 20vh;
	background-color: #dcdcdc;
	display: flex;
	align-items: center;
	justify-self: end;
	justify-content: space-between;
	flex-direction: row;
}
.contactUs {
	display: flex;
	flex-direction: column;
	margin-left: 2vw;
	height: 20vh;
	justify-content: space-evenly;
}
.joinHelpFamily {
	height: 20vh;
	width: 20vw;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.socialMedia {
	display: flex;
	width: 20vw;
	flex-direction: row;
	justify-content: space-evenly;
}
.legal {
	display: flex;
	flex-direction: column;
	margin-right: 2vw;
	height: 20vh;
	justify-content: space-evenly;
}
