body {
	margin: 0;
	padding: 0;
}
section.sec1 {
	position: relative;
	padding: 0;
	background: url('./assets/svg.svg');
	width: 100%;
	height: 29.5vh;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 span {
	display: block;
}

.topSection {
	display: flex;
	flex-direction: row;
}

.handshakeIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	font-size: 15vw;
	margin-right: 15vw;
}

.landingPageButtonContainer {
	width: 30vw;
	margin-left: 15vw;
	margin-top: 5vh;
}
.landingPageButtonContainer2 {
	width: 20vw;
	margin-left: 14vw;
	margin-top: 5vh;
}
.landingPageButtonContainer3 {
	width: 20vw;
	margin-left: 14vw;
	margin-top: 5vh;
}

.bottomSectionContainer {
	flex-direction: row;
	display: flex;
}

.bottomSectionSubContainer {
	width: 50vw;
}

section.sec4 {
	position: relative;
	padding: 0;
	background: url('./assets/Path-2.svg');
	width: 100%;
	height: 31.5vh;
	background-repeat: no-repeat;
	background-size: cover;
}

section.sec2 {
	position: relative;
	display: flex;
	flex-direction: row;
	margin: 0;
	background: #00b0f0;
	width: 100%;
	height: 55vh;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 5vh;
}

section.sec5 {
	position: relative;
	margin: 0;
	background: #00b0f0;
	width: 100%;
	height: 88vh;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 5vh;
}

.titlecontainer3 {
	width: 70%;
	margin-left: 5%;
}
.titlecontainer5 {
	margin-left: 5vw;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
}
.contactUs {
	margin-right: 2vw;
	white-space: nowrap;
}

.titlecontainer4 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

/*Header Styles*/
.landingPageHeader {
	width: 100vw;
	height: 9vh;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}
.companyTitle {
	white-space: nowrap;
	margin-left: 1vw;
}
.logInSignUp {
	flex-direction: row;
	display: flex;
}
.logIn {
	display: flex;
	flex-direction: column;
	margin-left: 2vw;
	height: 20vh;
	justify-content: space-evenly;
}
.featureRow {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.signUp {
	display: flex;
	flex-direction: column;
	margin-left: 2vw;
	height: 20vh;
	justify-content: space-evenly;
}

.contactUs {
	display: flex;
	flex-direction: column;
	margin-left: 2vw;
	height: 20vh;
	justify-content: space-evenly;
}
.titlecontainer {
	width: 40%;
	margin-left: 10vh;
}

/*Footer Styles*/
.footer {
	width: 100vw;
	height: 20vh;
	background-color: #1F508B;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
}
.titlecontainer2 {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-self: end;
	justify-content: space-between;
	flex-direction: row;
}
.joinHelpFamily {
	height: 20vh;
	width: 30vw;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.socialMedia {
	display: flex;
	width: 20vw;
	flex-direction: row;
	justify-content: space-evenly;
}
.legal {
	display: flex;
	flex-direction: column;
	margin-right: 2vw;
	height: 20vh;
	justify-content: space-evenly;
	margin-bottom: 10;
}
.bodyOuter {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.bodyInner {
	flex: 1;
}
.NewHelpLogoDiv {
margin-top: 10vh;
margin-left: -2vw;
}

.NewHelpLogo{
	width: 45vw;
	height: 45vh;
	border-radius: 0px;
}
.helpLogo {
	width: 50vw;
}
