/*Makes sure Footer and Header aligned correctly*/
.bodyOuter {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.bodyInner {
	flex: 1;
}

/*Header Styles*/
.header {
	width: 100vw;
	height: 9vh;
	background-color: #00b0f0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}
.companyTitle {
	white-space: nowrap;
	margin-left: 1vw;
}
.logInSignUp {
	flex-direction: row;
	display: flex;
}
.logIn {
	margin-right: 2vw;
	white-space: nowrap;
}
.signUp {
	margin-right: 2vw;
	white-space: nowrap;
}

/*Footer Styles*/
.footer {
	width: 100vw;
	height: 20vh;
	background-color: #f3f3f3;
	display: flex;
	align-items: center;
	justify-self: end;
	justify-content: space-between;
	flex-direction: row;
}
.contactUs {
	display: flex;
	flex-direction: column;
	margin-left: 2vw;
	height: 20vh;
	justify-content: space-evenly;
}
.joinHelpFamily {
	height: 20vh;
	width: 20vw;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.socialMedia {
	display: flex;
	width: 20vw;
	flex-direction: row;
	justify-content: space-evenly;
}
.legal {
	display: flex;
	flex-direction: column;
	margin-right: 2vw;
	height: 20vh;
	justify-content: space-evenly;
}
