.class1 {
  font-family: "Arial Rounded MT Bold";
}

.class2 {
  font-family: "Arial Rounded MT Bold";
  margin: 0px;
  height: 75px;
  background-color: white;
  border-color: #00b0f0;
  border-width: -5px;
}
