/* This is going to contain all of the styles for the Calendar screen */
.calendarContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.sidebarHolder {
	width: 20vw;
	height: 100vh;
	margin-left: 0.005vw;
}
.calendarHolder {
	height: 97vh;
	margin-top: 10vh;
	margin-right: 2vw;
}
.rightMenuContainer {
	height: 100vh;
	width: 25vw;
	background-color: #F3F3F3;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 10vh;
	align-items: center;
}
.rightMenuLoading {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.requestCard {
	margin-top: 5vh;
	width: 17vw;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	height: 13vh;
	border-style: solid;
	box-shadow: 0 0px 7px 0 #5cc6bc, 0 0px 0px 0 #41cbef;
	border-color: #41cbef;
	border-width: 0.5vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vw;
}
.alignStart {
	align-self: flex-start;
}
.blueSpacer {
	width: 22.5vw;
	margin-top: 3vh;
	margin-bottom: 3vh;
	height: 0.25vh;
	background-color: #00B0F0;
}
.spacer {
	height: 1vh;
	width: 1vw;
}
.customerImageContainer {
	width: 6vw;
	height: 6vw;
	border-radius: 3vw;
}
.customerInformationContainer {
	display: flex;
	height: 10vw;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.bigSpacer {
	height: 17.5vh;
}
