@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";
@import "~@fullcalendar/bootstrap/main.css";

.fc-prev-button,
.fc-next-button,
.fc-today-button,
.fc-dayGridMonth-button,
.fc-timeGridWeek-button {
  background-color: #5cc6bc;
  background-image: none;
  border-width: 0px;
}

.fc-center {
  color: #567681;
}

.fc-view-container {
  border: 5px solid #41CBEF;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: #41CBEF;
  width: 70vw;
  margin-left: 11vw;
}

.fc-day:hover{
    background-color: #8ED0AC;
}

.fc-today{
    background: #8ED0AC !important;
}

.fc-dayGridMonth-button,
.fc-timeGridWeek-button{
  margin-left: 13vw;
}