<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053430109556-nd65pgeso7s79tg4f866mlnf6hut9kv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053430109556-nd65pgeso7s79tg4f866mlnf6hut9kv2</string>
	<key>API_KEY</key>
	<string>AIzaSyCvmRocZX2vFWm-D6W6Buf8HKBhNkbROAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1053430109556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Help.Help</string>
	<key>PROJECT_ID</key>
	<string>help-b0b4d</string>
	<key>STORAGE_BUCKET</key>
	<string>help-b0b4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053430109556:ios:66611d1c38522d7a</string>
	<key>DATABASE_URL</key>
	<string>https://help-b0b4d.firebaseio.com</string>
</dict>
</plist>