#content-container {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100vw;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
}

#header {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 50vw;
	height: 5vh;
}

#help {
	margin-left: 2vw;
	text-align: left;
	text-decoration: none;
}

#login_tab_selected {
	margin-top: 2vh;
	margin-left: 20vw;
	text-align: left;
	text-decoration: none;
}

#signup_tab {
	margin-top: 2vh;
	margin-left: 3vw;
	text-align: left;
	text-decoration: none;
}

#email_address {
	margin-top: 5vh;
	margin-left: 5vw;
	text-align: left;
}

#password {
	margin-top: 3vh;
	margin-left: 5vw;
	text-align: left;
}

#login_button {
	margin-top: 3vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#login_title {
	margin-top: 15vh;
	text-align: center;
}

#forgot_password_button {
	width: 50vw;
	margin-top: 4vh;
	align-items: center;
	text-align: center;
	background-color: #ffffff;
	cursor: pointer;
	border: 0;
	text-decoration: none;
}

#forgot_password_button:hover {
	text-decoration: underline;
}

#gradientBackground {
	width: 100vw;
	height: 100vh;
	background: url(../assets/gradient.svg);
	background-size: cover;
}

#descriptionText {
	margin-top: 20vh;
	padding: 70px 0;
	text-align: center;
}