/*This is going to contain the fontStyles that are going to be used in the website*/
.bold {
    font-weight: bold;
}
.lightGray {
	color: #F3F3F3
}
.white {
	color: #FFFFFF
}
.lightBlue {
	color: #41CBEF
}
.darkBlue {
	color: #567681
}
.blue {
	color: #00B0F0
}
.black {
	color: #000000
}
.red {
	color: #DF1919
}
.gray {
	color: #808080
}
.green {
	color: #5CC6BC
}
.darkGreen{
	color:#567681
}
.fountainBlue {
	color: #5CC6BC
}
.giganticTextStyle {
	font-family: 'Lucida Grande';
	font-size: 10vw;
}
.bigTitleTextStyle {
	font-family: 'Lucida Grande';
	font-size: 5.5vw;
}
.bigSubTitleTextStyle {
	font-family: 'Lucida Grande';
	font-size: 4vw;
}
.bigTextStyle {
	font-family: 'Lucida Grande';
	font-size: 3vw;
}
.mainTextStyle {
	font-family: 'Lucida Grande';
	font-size: 1.75vw;
}
.subTextStyle {
	font-family: 'Lucida Grande';
	font-size: 1.5vw;
}
.smallTextStyle {
	font-family: 'Lucida Grande';
	font-size: 1.25vw;
}
.tinyTextStyle {
	font-family: 'Lucida Grande';
	font-size: 1vw;
}