<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464417078624-e51s16v6d32dflrmsabsgr17pk7s3ilq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464417078624-e51s16v6d32dflrmsabsgr17pk7s3ilq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>464417078624-4hm8glkf516tbkhah0tpmqpef19qussk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ39Pp39vFJOy6pbA0NLdjhzXIqSEAzFs</string>
	<key>GCM_SENDER_ID</key>
	<string>464417078624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Help.Help</string>
	<key>PROJECT_ID</key>
	<string>help-d194d</string>
	<key>STORAGE_BUCKET</key>
	<string>help-d194d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464417078624:ios:b7af4beb2bc6fada</string>
	<key>DATABASE_URL</key>
	<string>https://help-d194d.firebaseio.com</string>
</dict>
</plist>